[submodule "src/busybox"]
	path = src/busybox
	url = git://git.busybox.net/busybox
[submodule "src/linux"]
	path = src/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "src/kexec-tools"]
	path = src/kexec-tools
	url = git://git.kernel.org/pub/scm/utils/kernel/kexec/kexec-tools.git
[submodule "src/pramfs"]
	path = src/pramfs
	url = git://pramfs.git.sourceforge.net/gitroot/pramfs/pramfs
